<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="list-div" id="listDiv">
  <form action="import_order.php" method="post">
    <table cellspacing='1' cellpadding='3'>
      <tr>
        <th><input type="checkbox" checked onclick="listTable.selectAll(this, 'checked')" />{$lang.lab_order_id}</th>
        <th>{$lang.lab_order_sn}</th>
        <th>{$lang.lab_order_password}</th>
      </tr>
      {foreach from=$list key=key item=order}
      <tr align="center">
        <td><input type="checkbox" name="checked[]" value="{$key}" checked /> {$key}</td>
        <td><input type="text" name="order_sn[{$key}]" value="{$order.order_sn}" size="15" /></td>
        <td><input type="text" name="invoice_no[{$key}]" value="{$order.invoice_no}" size="15" /></td>
      </tr>
      {/foreach}
      <tr align="center">
        <td colspan="6">
          <input type="radio" name="is_sendsms" value="1" />发送提示短信&nbsp;&nbsp;<input type="radio" name="is_sendsms" value="0" checked="checked"/>不发送提示短信
          <input type="hidden" name="act" value="batch_insert" />
          <input type="hidden" name="shippname" value="{$shippname}" />
          
          <input type="submit" name="submit" value="{$lang.button_submit}" />
        </td>
      </tr>
    </table>
  </form>
</div>
{include file="pagefooter.htm"}